# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test temp files
*.test

# Output
*.out
build/

# Dependency directories
vendor/
node_modules/

# Idea IDE
.idea/

# OS temp files
*.DS_Store

